* {
  box-sizing: border-box;
}

dialog {
  position: fixed;
  top: 100px;
  left: 200px;
  width: 500px;
}

.traffic-lights {
  padding: 5px;
  width: 100px;
  height: 300px;
  border: 2px, solid, black;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 90px;
  height: 90px;
  border: 2px, solid, black;
  border-radius: 90%;
  background-color: black;
}

.toggle {
  display: block;
  margin: 20px auto;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.events {
  height: 100px;
  width: 300px;
  border: 2px, solid, black;
}

table {
  height: 800px;
  width: 1000px;
  border: 2px, solid, black;
}

th {
  border: 2px, solid, black;
  cursor: pointer;
}

th:active {
  background-color: aquamarine;
}

td {
  border: 2px, solid, black;
  text-align: center;
}

.area {
  border: 2px, solid, black;
  cursor: nwse-resize;
}
.area:active {
  border-bottom-right-radius: 10px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.wrapper__item {
  background-color:aquamarine;
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background-color:rgb(153, 121, 81);
  margin: 0 auto;
  font-weight: 700;
  width: 100px;
}